.partners {
}
.partners__out {
}
.partners__inner {
    padding-top: 60px;
    padding-bottom: 60px;
}
.partners__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $bcg-color;
}
.partners__sectitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 16px;
    margin-bottom: 16px;
}
.partners__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.partners__list {
    @include flexlar(start, 68px);
    margin-top: 55px;
    margin-bottom: 55px;
}
.partners__item {
}
.partners__item-link {
}
.partners__item-img {
    max-width: 100%;
}
.partners__link {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center; 
    background-color: $dark-color;
    color: $text-color;
    padding: 10px 29px;
    border-radius: 5px;
    
}

@media only screen and (max-width: 487px){
    .partners__list{
        @include flexlar(start, 68px);
        flex-direction: column;
    }
}